/*Section 1*/
.container-signup {
    width: 100%;
    height: 100vh;
    background: #FAFBFC;
    display: flex;
    justify-content: center;
}

.container-item1 {
    width: 50%;
    display: block;
}

.container-item1 h1 {
    top: 0;
    position: absolute;
    width: 35%;
    font-size: 35px;
    padding: 0 0 0 25px;
    line-height: 1;
}

.container-item1 img {
    width: 100%;
    height: 88vh;
    object-fit: contain;
}

/*Section 1*/
.container-item2 {
    width: 30%;
    height: 90vh;
    background: #ffffff;
    margin: 20px;
    border-radius: 50px;
}

.container-item2 h1 {
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
    margin-bottom: 10px;
}

.container-item2 .sign-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: 30px;
    margin: auto;
    padding: 5px;
    border-radius: 50px;
    background: #F8F9FB;
}

.sign-option .sign-in {
    background: #ffffff;
    border-radius: 50px;
    border: none;
    outline: none;
    padding: 8px 50px 8px 50px;
    color: #437EF7;
    font-size: 12px;
    font-weight: 600;
}

.sign-option .signUp {
    margin: auto;
}

.sign-option .sign-up {
    border: none;
    outline: none;
    background: none;
    font-weight: 500;
    font-size: 12px;
}

/*Google sign in styling*/
.container-item2 .sign-form {
    width: 72%;
    height: 30px;
    margin: 20px auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #DAE0E6;
}

a {
    text-decoration: none;

}

.sign-form button {
    background: none;
    border: none;
    outline: none;
    color: #272D37;
    font-size: 12px;
    font-weight: 600;
}

/*Form*/
.container-item2 form {
   margin: 0 55px;
   font-size: 12px;
   font-weight: 500;
   width: 70%;
  
}

.form .input-type {
    width: 100%;
    padding: 8px 5px;
    font-size: 12px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #DAE0E6;
}

.form .input {
    margin-bottom: 10px;
}

.form .password-input .email-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #DAE0E6;
}

.form .password {
    border: none;
    outline: none;
    font-size: 12px;
}

form .email-input {
    margin: 20px 0;
}

form input {
    width: 100%;
    padding: 8px 5px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #DAE0E6;
    outline: none;
}



/*Mobile Responsiveness*/
@media (max-width: 700px) {
    .container-item1 {
        display: none;
    }

    .container-item2 {
        width: 100%;
        height: 100vh;
        margin: 0;
        border-radius: 0;
    }
    
    .container-item2 h1 {
        padding-top: 30px;
        margin-bottom: 20px;
    }
  
}